.navbar {

    box-shadow: rgba(130, 130, 249, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-item a {

    text-decoration: none;
    color: black;
}

.home {

    background-color: #465DFF;
    padding: 10px;
    border: none;
    border-radius: 10%;
}

.topic {
    background-color: #212529;
    padding: 10px;
    border: none;
    border-radius: 10%;

}

.statistic {

    background-color: #FE7A6E;
    padding: 10px;
    border: none;
    border-radius: 10%;
}

.blog {

    background-color: #FF4F5A;
    padding: 10px;
    border: none;
    border-radius: 10%;
}



@media screen and (max-width:576px) {
    .bold {
        background-color: #465DFF;
        padding: 2px;
        border: none;
        border-radius: 10%;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .bold {

        background-color: #465DFF;
        padding: 2px;
        border: none;
        border-radius: 10%;
    }
}