.nav-item a {

    text-decoration: none;
    color: black;
}

.bold {

    background-color: #465DFF;
    padding: 10px;
    border: none;
    border-radius: 10%;
}

@media screen and (max-width:576px) {
    .bold {
        background-color: #465DFF;
        padding: 2px;
        border: none;
        border-radius: 10%;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .bold {

        background-color: #465DFF;
        padding: 2px;
        border: none;
        border-radius: 10%;
    }
}